body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  color: #000;
}

/* Header */
.header {
  background-color: #d9d9d9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.logo {
  font-size: 16px;
}

.btn-keluar {
  background-color: red;
  color: white;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 10px;
  font-weight: bold;
}

/* Konten utama */
.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 60px;
  gap: 30px;
}

/* Info Event */
.info-event {
  width: 55%;
}

.thumbnail {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.thumbnail .box {
  width: 30px;
  height: 30px;
  background-color: #d9d9d9;
}

h1 {
  font-size: 26px;
  margin-bottom: 15px;
}

p {
  line-height: 1.5;
  font-size: 14px;
}

p strong {
  font-weight: bold;
}

/* Poster Event */
.poster-container {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.poster-img {
  width: 100%;
  height: auto;
  max-width: 450px;
  border: 3px solid #c0c0c0;
  background-color: #d9d9d9;
  border-radius: 6px;
  object-fit: cover;
}
