body {
  font-family: "Open Sans", sans-serif;
  background: #f1f5f9;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #001BB7;
  color: white;
  padding: 16px 40px;
}

header .logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

header .logo img {
  width: 30%;
  height: 30%;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 24px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

nav ul li .out-btn {
  background-color: #f97316;
  padding: 8px 16px;
  border-radius: 8px;
}
nav ul li .out-btn:hover {
  background-color: #bc5913;
}

.container {
  background: white;
  margin: 40px auto;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  max-width: 1000px;
}

h2 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #111827;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
}

thead tr {
  background: #e0f2fe;
}

th, td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #e2e8f0;
  vertical-align: middle;
}

td img {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  object-fit: cover;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.add-btn {
  background: #f97316;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.2s;
}

.add-btn:hover {
  background: #ea580c;
}

.btn-edit {
  background: #3b82f6;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
  cursor: pointer;
  margin-right: 6px;
}

.btn-delete {
  background: #dc2626;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
  cursor: pointer;
}
@media screen and (max-width: 990px) {
  header .logo img {
    width: 110px;
    height: 20%;
  }
  table, thead, tbody, th, td, tr {
    display: block;
    width: 100%;
  }

  thead {
    display: none; /* sembunyikan header */
  }

  tr {
    margin-bottom: 16px;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    padding: 12px;
    background: #fff;
  }

  td {
    text-align: left;
    padding: 8px;
    position: relative;
  }

  td::before {
    content: attr(data-label);
    font-weight: bold;
    display: block;
    margin-bottom: 6px;
    color: #64748b;
  }
}
