* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
}

/*hero*/
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7)), url("picture/Hero Bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    width: 80%;
    margin-inline: auto;
}

.hero {
    width: 100%;
    min-height: 120vh;
    display: flex;
    align-items: center;
    padding-top: 50px;
}
.hero .box-hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    column-gap: 100px;
}

.hero .box-hero .box:nth-child(1) h1 {
    color: white;
    font-size: 4vw;
    line-height: 1.3;
    margin-bottom: 20px;
}
.hero .box-hero .box:nth-child(1) p {
    color: white;
    font-weight: 200;
    line-height: 2;
    margin-bottom: 20px;
}
.hero .box-hero .box:nth-child(1) button {
    width: 180px;
    height: 40px;
    background-color: #3429ff;
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
.hero .box-hero .box:nth-child(1) button:hover {
    background-color: #251db1;
}
.hero .box-hero .box:nth-child(2) img {
    width: 100%;
}

/*Navbar*/
.navbar {
    padding: 15px 0 15px 0;
    width: 100%;
    position: fixed;
    transition: all 0.3s ease;
}
.navbar.scrolling-active {
    background-color: #3429ff;
    padding: 20px 0 20px 0;
}

.navbar .box-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .box-navbar .logo img {
    width: 30%;
    height: 30%;
    color: white;
}

.navbar .box-navbar .menu {
    display: flex;
    column-gap: 60px;
}
.navbar .box-navbar .menu li {
    list-style-type: none;
}

.navbar .box-navbar .menu li a {
    text-decoration: none;
    color: white;
    padding: 10px 15px 10px 15px;
}
.navbar .box-navbar .menu li a:hover {
    background-color:#251db1;
    transition: all 0.3s ease;
}

.login-btn {
    background-color: #3429ff;
    border-radius: 10px;
}

.menu-bar {
    color: white;
    font-size: 20px;
    display: none;
}

/*max width usability*/

@media screen and (max-width: 990px) {
    .menu-bar {
        display: block;
        cursor: pointer;
    }
    .navbar .box-navbar .menu {
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 100px;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    top: 70px;
    right: 50%;
    transform: translateX(50%);
    opacity: 0;
    transition: all 0.3s ease;
    background-color: #3429ff;
    }

    .navbar .box-navbar .menu.menu-active {
    top: 80px;
    opacity: 1;
    border-top: 1px solid white;
    }
}