* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
}

/*hero Bg*/
header {
    background: url("picture/Hero Bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    width: 80%;
    margin-inline: auto;
}

/*Navbar*/
.navbar .box-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .box-navbar .menu {
    display: flex;
    column-gap: 60px;
}
.navbar .box-navbar .menu li {
    list-style-type: none;
}

.navbar .box-navbar .menu li a {
    text-decoration: none;
    color: white;
}

.menu-bar {
    display: none;
}

.hero {
    width: 100%;
    min-height: 100vh;
}