* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
}

/*hero Bg*/
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7)), url("picture/Hero Bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    width: 80%;
    margin-inline: auto;
}

/*Navbar*/
.navbar {
    padding: 20px 0 20px 0;
    width: 100%;
    position: fixed;
}

.navbar .box-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .box-navbar .logo img {
    width: 20%;
    height: auto;
    color: white;
}

.navbar .box-navbar .menu {
    display: flex;
    column-gap: 60px;
}
.navbar .box-navbar .menu li {
    list-style-type: none;
}

.navbar .box-navbar .menu li a {
    text-decoration: none;
    color: white;
    padding: 10px 15px 10px 15px;
}
.navbar .box-navbar .menu li a:hover {
    background-color:rgb(37, 29, 177);
    transition: all 0.3s ease;
}

.login-btn {
    background-color: rgb(52, 41, 255);
}

.menu-bar {
    display: none;
}

.hero {
    width: 100%;
    min-height: 100vh;
}