* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
}

.container {
    width: 80%;
    margin-inline: auto;
}

/*Navbar*/
.navbar .box-navbar {
    display: flex;
    justify-content: space-between;
}